name: docs

on:
  push:
  workflow_dispatch:

jobs:
  build:
    if: ${{ github.ref_name == github.event.repository.default_branch }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/cache@v5
      id: cache_docs
      with:
        path: site
        key: $${{ hashFiles('docs/**/*', 'mkdocs_macros.py', 'mkdocs.yml') }}
    - name: Set up Python 3.x
      if: ! steps.cache_docs.outputs.cache-hit
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Install mkdocs and dependencies
      if: ! steps.cache_docs.outputs.cache-hit
      run: |
        python -m pip install --upgrade pip
        python -m pip install \
          mkdocs \
          mkdocs-material \
          mkdocstrings[python] \
          mknotebooks \
          mkdocs-macros-plugin \
          mkdocs-section-index # .[docs]
    # - name: Run notebooks
    #   run: |
    #     find ./docs -name '*.ipynb' | xargs -P 3 -I % jupyter nbconvert --inplace --to notebook --ExecutePreprocessor.kernel_name=python --execute %
    - name: Build documentation
      if: ! steps.cache_docs.outputs.cache-hit
      env:
        REPO_URL: ${{ github.server_url }}/${{ github.repository }}
        REPO_NAME: ${{ github.repository }}
        REPO_SHORTNAME: ${{ github.event.repository.name }}
      run: |
        grep -v FOR_README_ONLY README.md >> docs/index.md
        mkdocs build
    - uses: actions/github-script@v8
      with:
        script: |
          const fs = require("node:fs");

          const PACKAGE_NAME = "vision-toolkit";
          const DIR = "site/pyindex";

          const owner = '${{ github.repository_owner }}';
          const repo = '${{ github.event.repository.name }}';

          class ToHTMLSimpleIndex {
              constructor(buffer) {
                this.buffer = buffer;
              }

              dump(release_assets) {
                this.buffer.write("<HTML>\n<BODY>\n");
                for(const release_asset of release_assets) {
                    this.release_asset(release_asset);
                }
                this.buffer.write("</BODY>\n</HTML>\n");
              }

              release_asset({browser_download_url, digest}) {
              const split_download_url = browser_download_url.split("/");
              const filename = decodeURIComponent(split_download_url[split_download_url.length - 1]);

               if (! filename.endsWith(".whl")) {
                 return;
               }

               const url = `${browser_download_url}#${digest.replace(":", "=")}`;


               this.buffer.write(`<A href="${url}">${filename}</A>\n`);
              }
          }

          fs.mkdirSync(`${DIR}/${PACKAGE_NAME}`, {recursive: true});

          fs.createWriteStream(`${DIR}/index.html`)
             .write(`<HTML>\n<BODY>\n<A href="${PACKAGE_NAME}">${PACKAGE_NAME}</A>\n</BODY>\n</HTML>`);

          const to_html_index = new ToHTMLSimpleIndex(fs.createWriteStream(`${DIR}/${PACKAGE_NAME}/index.html`));

          const all_release_assets = (await github.rest.repos.listReleases({owner, repo})).data.flatMap(({assets}) => assets);
          to_html_index.dump(all_release_assets);
    - uses: actions/upload-pages-artifact@v3
      with:
        path: site/
  deploy:
    permissions:
      pages: write
      id-token: write
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
