# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  issue_comment:                                     
    types: [created, edited, deleted]

jobs:
  test-hollywood2:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    # - name: Install vision_toolkit
    #   run: |
    #     python -m pip install --upgrade pip
    #     python -m pip install .[test]
    # - name: Test with Hollywood2
    #   run: |
    #     python tests/hollywood2/run.py
    # - uses: actions/upload-artifact@v4
    #   with:
    #     path: report.json
    - name: Create Comment
      run: |
        # Use GitHub API to create a comment on the PR
        PR_NUMBER=${{ github.event.issue.pull_requestr }}
        COMMENT="Your checklist comment here"
        GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
        COMMENT_URL="https://api.github.com/repos/${{ github.repository }}/issues/1/comments"

        curl -s -H "Authorization: token ${GITHUB_TOKEN}" -X POST $COMMENT_URL -d "{\"body\":\"Hello\"}"
