# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  push:
    branches: [ master, gh_ci ]
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '.pre-commit-config.yaml'
      - 'docs/**'
      - 'images/**'
      - '**.md'
      - 'mkdocs.yml'
  issue_comment:                                     
    types: [created, edited, deleted]

jobs:
  test-hollywood2:
    runs-on: ubuntu-latest
    if: |
      ${{ github.event.issue.pull_request }} ||
      contains(github.event.comment.body, '/support') 
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    # - name: Install vision_toolkit
    #   run: |
    #     python -m pip install --upgrade pip
    #     python -m pip install .[test]
    # - name: Test with Hollywood2
    #   run: |
    #     python tests/hollywood2/run.py
    # - uses: actions/upload-artifact@v4
    #   with:
    #     path: report.json
    - name: Create Comment
      if: steps.pr-changes.outputs.changes != '[]'
      run: |
        # Use GitHub API to create a comment on the PR
        PR_NUMBER=${{ github.event.pull_request.number }}
        COMMENT="Your checklist comment here"
        GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
        COMMENT_URL="https://api.github.com/repos/${{ github.repository }}/issues/${PR_NUMBER}/comments"

        echo $COMMENT_URL
