# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  push:
    branches: [ master, gh_ci ]
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '.pre-commit-config.yaml'
      - 'docs/**'
      - 'images/**'
      - '**.md'
      - 'mkdocs.yml'

jobs:
  test-hollywood2:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - name: Install vision_toolkit
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[test]
    - name: Test with Hollywood2
      run: |
        python -m tests/hollywood2/run.py
    - uses: actions/upload-artifact@v4
      with:
        path: report.json
