name: "Test suite reports"

# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows
on:
  push:
    branches: "master"
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read
  pull-requests: write
  packages: write

# BEWARE this is NOT the right to do things as anybody could fill our registry with custom images.
# Limitations should be set in order to prevent this.
jobs:
  fast-test-report:
    name: Fast Test Report
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v3
        # with:
        #   ref: ${{ github.event.pull_request.head.sha }}

      - name: Log
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build container if not existing
        run: |
          HASH=$(cat Containerfile setup.py setup.cfg pyproject.toml | md5sum | cut -d' ' -f1)
          IMG=$(echo ghcr.io/${{ github.repository }} | tr '[:upper:]' '[:lower:]')
          echo "IMGTAG=$IMG:$HASH" >> $GITHUB_ENV
          docker manifest inspect $IMG:$HASH || (docker build -f Containerfile . -t $IMG:$HASH; docker push $IMG:$HASH)

      - name: Run tests
        run: |
          docker run -v .:/src -t $IMGTAG "cd /src && bash tests/hollywood2/run_in_container.sh"

      - uses: actions/upload-artifact@v4
        with:
          path: report.json

      - uses: actions/upload-artifact@v4
        id: report-png
        with:
          path: report.png

      - name: Add report as comment on PR
        uses: actions/github-script@v6
        if: always()
        with:
          script: |
            const fs = require('node:fs');

            const name = '${{ github.workflow	}}';
            const url = '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}';
            const sha = '${{ github.event.pull_request.head.sha }}';

            const success = '${{ job.status }}' === 'success';
            const body = `${name}: ${success ? 'succeeded ✅' : 'failed ❌'}\n${url}\n` + fs.readFileSync("report.md") + "\n![barplot](${{ steps.report-png.outputs.artifact-url }})\n\ncommit: " + sha + "\n";

            await github.rest.issues.createComment({
              issue_number: ${{ github.event.pull_request.number }},
              owner: '${{ github.repository_owner }}',
              repo: '${{ github.event.repository.name }}',
              body: body
            })