name: "Test suite reports"

# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows
on:
  pull_request:
    types: [opened, reopened, synchronize]

# Github-Action assumes containers don't provide bash, so it uses sh.
# But to set up the python venv, our container image uses BASH_ENV to activate it at shell init.
defaults:
  run:
    shell: bash

env:
  CONTAINERCLI: docker # podman
  PYPKGMGR: pip # "uv pip"
  PYPKGMGR_INSTALL_OPTS: --no-build-isolation
  IMGSBRANCH: v01dxyz-imgs
  VISION_TOOLKIT_VERSION: 2
  VISION_TOOLKIT_CACHE: 1

permissions:
  contents: write
  pull-requests: write
  packages: write

# BEWARE this is NOT the right to do things as anybody could fill our registry with custom images.
# Limitations should be set in order to prevent this.
jobs:
  build_wheel:
    name: Build Wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - run: SETUPTOOLS_SCM_PRETEND_VERSION="0.1+${{github.event.pull_request.head.sha}}" pip wheel --no-deps -w wheels .
      - uses: actions/setup-node@v6
        with:
          node-version: '24.12.0'
      - run: |
          cd /home/runner/work;
          npm install $GITHUB_WORKSPACE/.github/patched_toolkit/actions-artifact-6.1.0.tgz
      - uses: actions/github-script@v8 # v8 has node 24 with 'import' allowing ESM modules
        with:
          script: |
            const path = require("node:path");
            const fs = require("node:fs");

            const {DefaultArtifactClient} = await import("@actions/artifact");

            const owner = '${{ github.repository_owner }}';
            const repo = '${{ github.event.repository.name }}';

            const artifact = new DefaultArtifactClient();

            const sha = '${{ github.event.pull_request.head.sha }}';

            console.log(">>>", artifact.uploadArtifactFromStream);

            for (const filename of await (await glob.create("wheels/*.whl")).glob()) {
              const upload_artifact_resp = await artifact.uploadArtifactFromStream(
                path.basename(filename),
                fs.createReadStream(filename),
                {
                  contentType: "text",
                }
              );

              const upload_release_resp = github.rest.repos.uploadReleaseAsset({
                  owner,
                  repo,
                  release_id: 288332131,
                  name: `vision_toolkit-0.1+${sha}-cp313-cp313-linux_x86_64.whl`,
                  data: fs.readFileSync(filename),
              });
            }


  coverage:
    name: Coverage
    env:
      VISION_TOOLKIT_COVERAGE: 1 # We define it at job level in case we move things aroung
    runs-on: ubuntu-latest
    needs: build_container_image
    container: &container
      image: ${{ needs.build_container_image.outputs.imgtag }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    steps:
    - name: Checkout PR branch
      uses: actions/checkout@v3
    - name: Remove Cython cache to workaround cache bug (cython/cython#7532)
      run:
        # Cython ignores cythonize.compiler_directives when computing the cache key
        # It wrongly outputs the cached source code without instrumentation if previously built.
        # We clear the Cython cache as a workaround.
        # An issue has been opened to fix it: https://github.com/cython/cython/issues/7532
        rm -r /cache/cython
    - name: Install package
      run: $PYPKGMGR install $PYPKGMGR_INSTALL_OPTS -e .[test]
    - run: ./tests/coverage_in_container.sh
    - name: Show coverage repport
      run: coverage report -m
    - name: Generate json report
      run: coverage json
    - name: Upload json report
      uses: actions/upload-artifact@v4
      with:
        path: coverage.json
    - name: Add coverage report to step summary
      run: |
        ./tests/coverage_markdown_report.py \
              --coverage-filepath coverage.json \
              -c ${{ github.event.pull_request.head.sha }} \
              -r ${{ github.repository }} >> $GITHUB_STEP_SUMMARY
  
  compare_reports_both_versions:
    name: Compare reports Fast hollywood2 from both versions
    runs-on: ubuntu-latest
    container: *container
    needs: build_container_image
    steps:
    - name: Checkout PR branch
      uses: actions/checkout@v3
    - name: Install package
      run: $PYPKGMGR install $PYPKGMGR_INSTALL_OPTS .[test]
    - name: Run both versions and diff reports
      run: ./tests/run_both_versions.sh

  basic_code_checker:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v3
      - name: ruff check
        uses: astral-sh/ruff-action@v3
        with:
          src: ./src/vision_toolkit${{ env.VISION_TOOLKIT_VERSION == 2 && '2' || '' }}

  build_container_image:
    name: Build container image
    runs-on: ubuntu-latest
    outputs:
      imgtag: ${{ steps.build_container_image.outputs.imgtag }}
    steps:
      - name: Log into Github Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | $CONTAINERCLI login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Checkout PR branch
        uses: actions/checkout@v3
        with:
          sparse-checkout: |
            Containerfile
            setup.py
            setup.cfg
            pyproject.toml
          sparse-checkout-cone-mode: false
          path: sparse

      - name: Check if container image exists
        id: build_container_image
        continue-on-error: true
        run: |
          cd sparse
          HASH=$(cat Containerfile setup.py pyproject.toml | md5sum | cut -d' ' -f1)
          IMG=$(echo ghcr.io/${{ github.repository }} | tr '[:upper:]' '[:lower:]')
          IMGTAG=$IMG:$HASH
          echo "imgtag=$IMGTAG" >> $GITHUB_OUTPUT
          echo "IMGTAG=$IMGTAG" >> $GITHUB_ENV

          if $CONTAINERCLI manifest inspect $IMGTAG; then
            echo "imgexists=true" >> $GITHUB_OUTPUT
          fi

      - name: Checkout PR branch
        if: ${{ ! steps.build_container_image.outputs.imgexists }}
        uses: actions/checkout@v3

      - name: Build container and check package loading
        if: ${{ ! steps.build_container_image.outputs.imgexists }}
        run: |
          $CONTAINERCLI build \
              --build-arg PYPKGMGR="$PYPKGMGR" \
              --build-arg PYPKGMGR_INSTALL_OPTS="$PYPKGMGR_INSTALL_OPTS" \
              -f Containerfile . \
              -t $IMGTAG
          $CONTAINERCLI push $IMGTAG

          # buggy, I need to work on this.
          # while ! $CONTAINERCLI manifest inspect $IMGTAG; do

          #   if [ -z $CONTAINERCLI_BUILD_PUSH_PID ]; then
          #     (
          #       $CONTAINERCLI build --build-arg PYPKGMGR="$PYPKGMGR" -f Containerfile . -t $IMGTAG
          #       $CONTAINERCLI push $IMGTAG
          #     ) &
          #     CONTAINERCLI_BUILD_PUSH_PID=$!
          #   fi

          #   if ! kill -0 $CONTAINERCLI_BUILD_PUSH_PID; then
          #     exit $(wait $CONTAINERCLI_BUILD_PUSH_PID)
          #   fi

          #   echo '[GA-STEP-SCRIPT] Waiting for registry to get image. Early stop if already there.'
          #   sleep 1;
          # done

          $CONTAINERCLI run $IMGTAG "python -c 'import setuptools, importlib; print([importlib.import_module(m) for m in setuptools.find_packages(\"src\") if m.startswith(\"vision\")]);'"

      - name: Show container-cli version/info
        if: ${{ failure() }} # only show it for debugging purposes
        run: $CONTAINERCLI version; $CONTAINERCLI info


  test-report:
    needs: build_container_image
    container: *container
    strategy:
      matrix:
        args:
          - name: Fast
            dataset: hollywood2
            cutoff: 3
            comment: true
          - name: Full
            dataset: hollywood2
            cutoff: 1000
          - name: Full
            dataset: zemblys
            cutoff: 1000
    name: ${{ matrix.args.dataset }} ${{ matrix.args.name }} Test Report
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v3
      - name: Install package
        run: $PYPKGMGR install $PYPKGMGR_INSTALL_OPTS .[test] --debug
      - name: Run tests
        run: |
          echo RESULTS_DIR=tests/results/${{ matrix.args.dataset }}/v$VISION_TOOLKIT_VERSION >> $GITHUB_ENV
          echo REPORT_SUFFIX=v${{ env.VISION_TOOLKIT_VERSION }}-${{ matrix.args.dataset}}-${{ matrix.args.name }} >> $GITHUB_ENV
            cd tests
            ./run.py $VISION_TOOLKIT_VERSION ${{ matrix.args.dataset }} ${{ matrix.args.cutoff }}

      - name: Upload all reports as directory
        uses: actions/upload-artifact@v4
        with:
          name: report-${{ env.REPORT_SUFFIX }}
          path: ${{ env.RESULTS_DIR }}

      - name: Upload json report
        uses: actions/upload-artifact@v4
        with:
          name: report-json-${{ env.REPORT_SUFFIX }}
          path: ${{ env.RESULTS_DIR }}/report.json

      - name: Upload image report
        uses: actions/upload-artifact@v4
        with:
          name: report-png-${{ env.REPORT_SUFFIX }}
          path: ${{ env.RESULTS_DIR }}/report.png

      # Hack to display image in comment as artifact can't be used for such a thing
      - name: Push image into repo branch ${{ env.IMGSBRANCH }}
        run: |
          git config --global --add safe.directory .
          git fetch --depth 1 origin $IMGSBRANCH
          git switch -f $IMGSBRANCH
          git config user.name "imgs-uploader"
          git config user.email "nocontact@unreachable"
          IMGNAME="report_v$VISION_TOOLKIT_VERSION_${{ matrix.args.dataset }}_${{ matrix.args.name }}_${{ github.run_id }}_${{ github.run_attempt }}.png"
          echo IMGNAME="$IMGNAME" >> $GITHUB_ENV
          cp -v $RESULTS_DIR/report.png $IMGNAME
          git add -v $IMGNAME
          git commit -m "Publish v$VISION_TOOLKIT_VERSION report ${{ matrix.args.name }} for ${{ matrix.args.dataset }} run_id: ${{ github.run_id }}"
          git push origin $IMGSBRANCH

      - name: Step summary
        run: |
          echo "## Image" >> $GITHUB_STEP_SUMMARY
          echo "![barplot](https://github.com/${{ github.repository }}/blob/$IMGSBRANCH/$IMGNAME?raw=true)" >> $GITHUB_STEP_SUMMARY
          echo "## Table" >> $GITHUB_STEP_SUMMARY
          cat $RESULTS_DIR/report.md >> $GITHUB_STEP_SUMMARY
          echo -n '\n' >> $GITHUB_STEP_SUMMARY

      - name: Add report as comment on PR
        uses: actions/github-script@v6
        if: ${{ !cancelled() && matrix.args.comment }}
        with:
          script: |
            const fs = require('node:fs');

            const name = '${{ matrix.args.name }} ${{ matrix.args.dataset }}';
            const url = '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}';
            const sha = '${{ github.event.pull_request.head.sha }}';

            const MAGIC = '<!-- MAGIC github-action-bot v${{ env.VISION_TOOLKIT_VERSION }} ${{ matrix.args.dataset }} ${{ matrix.args.name }} Test Report -->';

            const success = '${{ job.status }}' === 'success';
            const body = 
            `${name}: ${success ? 'succeeded ✅' : 'failed ❌'}
            ${url}
            ${fs.readFileSync("./${{ env.RESULTS_DIR }}/report.md")}


            ![barplot](https://github.com/${{ github.repository }}/blob/${{ env.IMGSBRANCH }}/${{ env.IMGNAME }}?raw=true)
            

            commit: ${sha}

            ${MAGIC}
            `;

            const owner = '${{ github.repository_owner }}';
            const repo = '${{ github.event.repository.name }}';
            const issue_number = ${{ github.event.pull_request.number }};

            for(let page = 0;; page+=1) {
                const comments_resp = await github.rest.issues.listComments({
                  issue_number,
                  owner,
                  repo,
                  page
                });

                const comments = comments_resp.data;

                console.log("comments", comments);

                if(comments.length == 0) {
                  break;
                }

                for (const comment of comments) {
                  if (!comment.body.includes(MAGIC)) {
                    continue;
                  }

                  await github.rest.issues.deleteComment({
                    owner,
                    repo,
                    comment_id: comment.id,
                  });
                }


            }

            await github.rest.issues.createComment({
              issue_number,
              owner,
              repo,
              body: body
            });

      - name: Show report
        run: cat ${{ env.RESULTS_DIR }}/report.md
